body{
  font-family:Arial, Helvetica, sans-serif;
}

.para,
.small-para {
  color: hsl(0, 0%, 0%);
  font-weight: 800;
}

.para.small-para {
  font-size: 14px;
  font-weight: 800;
}

.para {
  font-size: 22px;
}

.confirm {
  background: green;
  color: white;
  font-weight: bold;
} 

#button.button.confirm {
  background-color: rgb(0, 255, 0);
  color: rgb(255, 255, 255);
  font-size: 20px;
}

.child {
  color: rgb(0, 0, 0);
  font-weight: 800;
  font-size: 14px;
}

div.text.child {
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 800;
}
